<header>
  <h1 class = "head_title">↓こうつぶやきました↓</h1>
</header>

<%= render 'display' %>

<footer>
  <div class="">
    <%= link_to '更新する', edit_line_path(@line), class: "btn btn-default "  %>
    <%= link_to '削除する', line_path(@line) ,
        method: :delete, class: "btn btn-default " ,
         data: { confirm: '本当に削除してよろしいですか?' } %>
  </div>

  <%= link_to '戻る', lines_path , class: "btn btn-default  btn_return"  %>

</footer>
