/*
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 html {
   font-size: 62.5%;
   height: 100%;
 }

 body {
   height: 100%;
 }


#MainContainer{
  background-color: powderblue;
  width: 980px;
  margin: auto;
  position: relative;
  min-height: 100%;

}

/*フッター情報*/
footer{
  width: 100%;
  height: 100px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: #4D4D4D;
  /*display: table;*/
}

.btn_foot{
  position: absolute;
  bottom: 20px;
  right: 60px;
}
